.alerts {
  position: fixed;
  top: 50px;
  background: rgb(48, 48, 48);
  padding: 10px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  z-index: 5000;
  opacity: 0;
  height: auto;
  border: 2px solid black;
  animation: alertClose 0.5s forwards;
  display: none;
}

.alerts.active {
  display: block;
  animation: alertOpen 0.6s forwards;
}

@keyframes alertOpen {
  from {
    transform: translate3d(0, -80px, 0);
    opacity: 0;
    display: none;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    display: flex;
  }
}

@keyframes alertClose {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    display: flex;
  }
  to {
    transform: translate3d(0, -80px, 0);
    opacity: 0;
    display: none;
  }
}

[data-desc-alert] {
  color: #f7f7f7;
  font-size: 12pt;
}
